<%- include('../partials/header'); -%>

    <div class="pb-3 mb-3 d-flex border-bottom container">
        <h4 class="m-0 p-0 me-1">All Hashtags</h4>
        <h5 class="m-0 p-0"> (<%= count %>)</h5>
    </div>
    <div class="container admin-user-table">

        <table class="table table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th scope="col">Hashtag Title</th>
                    <th scope="col">Number of photos</th>
                    <th scope="col">Total worth locked</th>
                    <th scope="col">Average photo worth</th>
                </tr>
            </thead>
            <tbody class="">
                <% for (let data of datas) { %>

                    <tr class="position-relative">
                        <td scope="row">
                            <%= data.title %>
                        </td>
                        <td>
                            <%= data.count %>
                        </td>
                        <td>
                            <%= data.utilityTokensLocked %>
                        </td>
                        <td>
                            <%= data.utilityTokensLocked/data.count  %>
                        </td>
                    </tr>

                    <% } %>
            </tbody>
        </table>
    </div>

    <%- include('../partials/footer'); -%>